@media (min-width: 1215px) {
    #mainImgsViewer {
        width: 579px;
        overflow: hidden;
        flex-direction: column-reverse;
    }
    
    #mainImgContainer {
        height: 573.66px;
        width: 659px;
    }

    #m_main_container {
        height: 652.16px;
        width: 779px;
        padding-left: 2.5rem;
    }

    .mainImages {
        height: 579px;
        width: 579px;
        max-width: 100%;
    }

    span.videoThumbContainer {
        margin-bottom: 1.4rem;
    }
}

@media (max-width: 1214px) and (min-width: 1200px) {
    #mainImgsViewer {
        width: 55vw;
        overflow: hidden;
    }

    #m_main_container {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    
    .mainImages {
        width: 55vw;
        max-width: 100%;
    }

    span.videoThumbContainer {
        margin-bottom: 1.4rem;
    }
}

@media (max-width: 1199px) and (min-width: 1024px) {
    #mainImgsViewer {
        width: 55vw;
        overflow: hidden;
    }
    
    .mainImages {
        width: 55vw;
        max-width: 100%;
    }
    
    span.videoThumbContainer {
        margin-bottom: 1.4rem;
    }

    #m_main_container {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media (max-width: 1023px) and (min-width: 768px) { 
    #sideImagesContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 45.770751vw;
    }
    
    #mainImgsViewer {
        height: 45.770751vw;
        width: 45.770751vw;
        overflow: hidden;
    }
    
    .mainImages {
        height: 45.770751vw;
        width: 45.770751vw;
        max-width: 100%;
    }
    
    #m_main_container {
        display: flex;
        flex-direction: column-reverse;
    }
    
    img.side {
        margin-right: .66667rem;
    }
    
    .bordered {
        margin-right: .66667rem;
    }
    
    span.videoThumbContainer {
        margin-right: .7rem;
    }
}

@media (max-width: 767px) {
    #sideImagesContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 45.770751vw;
    }
    
    #mainImgsViewer {
        width: 45.770751vw;
        height: 45.770751vw;
        overflow: hidden;
        margin: 0 auto;
    }
    
    .mainImages {
        height: 45.770751vw;
        width: 45.770751vw;
        max-width: 100%;
    }
    
    #m_main_container {
        flex-direction: column-reverse;
        overflow-wrap: normal;
    }
    
    img.side {
        margin-right: .66667rem;
    }
    
    .bordered {
        margin-right: .66667rem;
    }
    
    span.videoThumbContainer {
        margin-right: .7rem;
    }
}

#sideImagesContainer {
    margin-right: 1.5rem;
}

.mainImages:hover {
    cursor: zoom-in;
}

#m_main_container {
    display: inline-flex;
}

#m_side_images {
    width: 7vw;
}

#m_main_image {
    height: 45.770751vw;
    width: 45.770751vw;
}

.side:hover {
    cursor: pointer;
}

.bordered:hover {
    cursor: pointer;
}

.selectedSide {
    border: 2px solid black;
}

#leftSvg {
    width: 2.66667rem;
    height: 2.66667rem;
    cursor: pointer;
}

#rightSvg {
    width: 2.66667rem;
    height: 2.66667rem;
    z-index: 4;
    cursor: pointer;
    margin-left: 1rem;
}

#mainImgContainer {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
}

#mainImgGallery {
    position: relative;
    display: flex;
}

.animate {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    animation: gallerymover .5s forwards;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    min-height: 100%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
}

/* The Close Button */
.close {
    z-index: 2;
    color: black;
    font-size: 28px;
    position: fixed; right: 2em;
    width: .5em;
}

.close:hover {
    cursor: pointer;
}

.modal-dialog {
    width: 100%;
}

.modal_images {
    width: 100%;
    height: auto;
}

img.side {
    position: relative;
    display: flex;
    width: 60px;
    height: 60px;
    border: 1px grey solid;
    box-sizing: border-box;
    margin-top: .66667rem;
}

#video {
    display: none;
    position: absolute;
    z-index: 1;
    width: 658px;
    height: 370px;
}

.bordered {
    position: relative;
    display: flex;
    width: 60px;
    height: 60px;
    border: 2px #666 solid;
    box-sizing: border-box;
    margin-top: .66667rem;
}

#sideImagesContainer {
    position: relative;
}

#m_buyItemModal {
    width: 436px;
    height: 96px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    font-size: 18px;
    box-shadow: 1px 1px 5px 1px #0058a336;
    display: none;
    z-index: 500;
}

#m_buyItemModalInnerDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: white;
}

#m_buyItemModalThumbnail {
    height: 60px;
    margin-left: 20px;
    margin-top: 0px;
}

#m_LeftSpan {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: auto;
}

#m_RightSpan {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 10%;
}

#m_ModalProductName {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
}

#m_modalSvgLeft {
    width: 72px;
    height: 48px;
    border: 2px solid black;
    margin-left: 5px;
    border-radius: 3px;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    transition-duration: .5s;
}

#m_modalSvgLeft:hover {
    background: black;
    fill: white;
    opacity: 1;
}

#m_modalSvgRight {
    width: 72px;
    height: 48px;
    background: #0058a3;
    fill: #fff;
    border: 2px solid #0058a3;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    transition-duration: .5s;
}

#m_modalSvgRight:hover {
    opacity: .8;
}

.play {
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    margin-top: 1.25rem;
    margin-left: .75rem;
}

.play:hover {
    cursor: pointer;
}

.videoThumbContainer {
    position: relative;
    display: flex;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}

#showPrice {
    text-decoration: underline;
    color: #407AB1;
}

#showPrice:hover {
    cursor: pointer;
}

#modalItemName {
    font-weight: bold;
    font-size: 1rem;
}

#m_wishList {
    margin-top: 10px;
    width: 25px;
    height: 25px;
}

#m_shoppingCart {
    margin-top: 10px;
    width: 25px;
    height: 25px;
}